#box-wrap{
	max-width:1200px;
	margin:0 auto;
	padding-top:100px;
}

#box-wrap ul{
	display:flex;
	justify-content:center;
	align-items:center;
}

#box-wrap ul > li{
	width:25%;
	height:200px;
	margin:0 20px;
	border:3px solid #000;
}

#box-wrap ul > li:nth-child(1){
	background-color:red;
}

#box-wrap ul > li:nth-child(2){
	background-color:blue;
}

#box-wrap ul > li:nth-child(3){
	background-color:green;
}

#box-wrap ul > li:nth-child(4){
	background-color:yellow;
}

@media screen and (max-width:800px) { /* 최대 화면 800이하 */
	#box-wrap ul{
		flex-direction:column;

	}

	#box-wrap ul > li{
		width:100%;
		height:150px;
	}

	#box-wrap ul > li:nth-child(1){
		background-color:black;
	}


}

@media screen and (max-width:500px) {
	#box-wrap ul > li:nth-child(1){
		background-color:pink;
	}
}

@media screen and (min-width:480px) and (max-width:800px) {
	#box-wrap ul > li:nth-child(2){
		display:none;
	}
}

@media screen and (max-height:500px) and (max-width:800px){
	#box-wrap ul > li:nth-child(2){
		display:block;
	}
	
	#box-wrap ul > li:nth-child(3){
		border:10px solid red;
	}
}