/* @import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css); */

* {
	margin:0;
	padding : 0;
	box-sizing:border-box;
}

html,body{
	font-size : 16px;
	color : #000;
	/* font-family: 'Nanum Gothic', sans-serif; */
}

a{
	text-decoration : none;
	color : #000;
}

ul, ol,li {
	list-style : none;
}