#wrap{position:relative;}

#header{
	position:relative;
	text-align:center;
	font-size:0;
	background-color:rgba(0,0,0,0.3);
}

#header::after{
	content:"";
	display: block;
	clear:both;
}

#header #logo{
	position:absolute;
	left:10px;
	top:18px;
}

#header #logo img{
	width:150px;
}

#header #nav{
	display:inline-block;

}

#header #nav .menu-list{

}

#header #nav .menu-list::after{
	content:"";
	display:block;
	clear:both;
}

#header #nav .menu-list > li {
	float:left;
	
}

#header #nav .menu-list > li > a{
	display:block;
	padding : 25px 20px;
	font-size:18px;
	color:black;
}

#header .sitemap-btn{
	position:absolute;
	right: 10px;
	top: 50%;
	margin-top:-17.5px;
	font-size:0;
	background:none;

}

#header .sitemap-btn > div{
	position:relative;
	width:35px;
	height:35px;
}

#header .sitemap-btn > div > span{
	position:absolute;
	left:0;
	width:100%;
	height:2px;
	background-color:#000;
}

#header .sitemap-btn > div > span:first-child{
	top:0;
}

#header .sitemap-btn > div > span:nth-child(2){
	top:50%;
}

#header .sitemap-btn > div > span:last-child{
	bottom:0;
}